/* Breakpoints */

/* Small only */
//@media screen and (max-width: 39.9375em) {}

/* Medium and up */
//@media screen and (min-width: 40em) {}

/* Medium only */
//@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
//@media screen and (min-width: 64em) {}

/* Large only */
//@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

body {
  background: #1a1a1a;
  // font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.background-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(39,1,1,0.3);
  //background-color: rgba(10, 10, 100, 0.3);
  //background-color: #003D4C;
  //background-color: teal;
  //background-color: #642c1d;
  z-index: -1; // Moves to background. Does this work everywhere?
  &:before {
    // Gradient at top of background.
    content: "";
    display: inline-block;
    position: absolute;
    //z-index: 1; 
    width: 100%;
    height: 500px; // Height of the gradient
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      transparent 100%
    );
  }
  .blurParallaxBg__blur {
    position: fixed;
    top: 200px;
    right: -50px; // Same size as blur filter.
    bottom: 0;
    left: -50px; // Same size as blur filter.
    background-image: url('../img/bg-eso-edge.png');
    //background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    //z-index: 1;
    filter: blur(80px);
    opacity: 0.5;
  }
  .blurParallaxBg__image {
    // position, left, and transform center the image
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    // Doesn't matter if using the Javascript scroll to fade.
    // opacity: 0.8; // Makes background image slightly transparent
    //z-index: 1;
    max-height: 680px; // Same height as the background image
  }
  .blurParallaxBg__image-clip {
    // Removing this because it doesn't work in Edge.
    // Masks the bottom part of the background image with a gradient.
    /*
    -webkit-mask-image: linear-gradient(180deg, black 9%, transparent 80%);
    mask-image: linear-gradient(180deg, black 9%, transparent 80%);
    */

    height: 680px; // Same height as the background image
    //height: 100vh;
  }
  // Edge Only
  //@supports (-ms-ime-align: auto) {}
}

.layout {
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 12px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__header {
    max-width: 50%;
    margin-bottom: 80px;
    // margin-bottom: 0px;
    font-family: "Playfair Display", serif;
    font-weight: 700; // Must be included for mobile devices.
    font-style:italic; // Must be included for mobile devices.
    //font-style: normal;
    text-shadow: 0 0 1px transparent, 0 1px 8px rgba(0, 0, 0, 0.8);
    text-align: center;
    &__avatar {
      content: "";
      /* position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -305px;
      margin-left: -100px; */
      margin: 0.67em auto;
      width: 180px;
      height: 180px;
      background-color: transparent;
      background-image: url('../img/wow-pepe.jpg');
      background-size: contain;
      background-repeat: no-repeat;
      border-radius: 200px;
      box-shadow: 0px 0px 40px rgba(155,155,155,0.5);
    }
    hr {
      border: 0;
      background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 64%);
      height: 20px;
      width: 50%;
      background-position-x: center;
      background-position-y: -10px;
      background-repeat: no-repeat;
      background-size: auto;
      border-top: 1px solid rgba(255,255,255,.055);
      margin-bottom: -10px;
    }
    h1 {
      //font-weight: 100;
      font-size: 4.6rem;
      //font-style: normal;
      margin: 0;
      padding: 0;
    }
    h2 {
      color: white;
      opacity: 0.7;
      font-family: "Roboto", sans-serif;
      font-weight: 100;
      font-size: 1.2rem;
      line-height: 1.4em;
      font-style: italic;
      //margin: 0;
      //padding: 0;
      //line-height: 1.4em;
    }
  }
  &__navigation__home {
    text-align: center;
    position: absolute;
    bottom: 4%;
    a {
      display: inline-block;
      color: #ccc;
      text-decoration: none;
      &:hover {
        color: white;
      }
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        padding: 6px 12px;
      }
    }
  }
  &__navigation {
    position: absolute;
    bottom: 10%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        padding: 16px 32px;
        a {
          color: #ccc;
          text-decoration: none;
          text-transform: uppercase;
          &:hover {
            color: white;
          }
        }
      }
    }
  }
  &__content {
    background-color: rgba(0, 0, 255, 0.3);
    font-size: 1.2rem;
    font-weight: 100;
    font-style: normal;
    text-rendering: optimizeLegibility;
    line-height: 1.8rem;
  }
}

/* Medium */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .layout {
    //border: 10px solid red;
    &__header {
      max-width: 70%;
      &__avatar {
        width: 160px;
        height: 160px;
        box-shadow: 0px 0px 20px rgba(155,155,155,.5);
      }
      hr {
      }
      h1 {
        font-size: 3rem;
      }
      h2 {
        font-size: 1.0rem;
      }
    }
    &__navigation__home {
      a {
        &:hover {
        }
      }
      ul {
        li {
        }
      }
    }
    &__navigation {
      ul {
        li {
          a {
            &:hover {
            }
          }
        }
      }
    }
    &__content {
    }
  }
}

/* Small */
@media screen and (max-width: 39.9375em) {
  .layout {
    //border: 10px solid purple;
    &__header {
      max-width: 90%;
      &__avatar {
        width: 120px;
        height: 120px;
        box-shadow: 0px 0px 20px rgba(155,155,155,.5);
      }
      hr {
      }
      h1 {
        font-size: 2rem;
      }
      h2 {
        font-size: 0.94rem;
      }
    }
    &__navigation__home {
      a {
        &:hover {
        }
      }
      ul {
        li {
        }
      }
    }
    &__navigation {
      ul {
        li {
          a {
            &:hover {
            }
          }
        }
      }
    }
    &__content {
    }
  }
}

